* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: #192236;
    --very-dark-blue: #151c2c;
}

body {
    background-color: var(--very-dark-blue);
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}