.navlinks {
    margin-block: 10px;
    width: 100%;
}

.title {
    font-size: 15px;
    padding: 5px 0px;
    display: block;
}

.links {
    margin-block: 10px;
}


.link {
    display: flex;
    gap: 7px;
    align-items: center;
    padding: 13px;
    border-radius: 4px;
}

.active {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.link:hover {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.link>* {
    font-size: 15px
}